<div class="container">
  <div class=" row form-group">
    <div class="col-5">
     <label for="fulllist">Select the products</label>
     <select multiple class="form-control form-control-lg" id="fulllist">
        <option value="value1">Value1</option>
        <option value="value2">Value2</option>
        <option value="value3">Value3</option>
        <option value="value4">palue4</option>


    </select>

  </div>
    <div class="col-1">
       <button class="btn btn-primary">>></button>
    </div>
    <div class="col-1">
        <button class="btn btn-danger"> << </button>
    </div>
    <div class="col-5">
      <label for="emptylist">Signature sheet products</label>
      <select  class="form-control form-control-lg" id="emptylist" multiple >
      </select >

      <p>hdhd</p>
      <select class="selectpicker" multiple>
          <option>Mustard</option>
          <option>Ketchup</option>
          <option>Relish</option>
      </select>
    </div>
  </div>
</div>
