<br>
<div class="container" *ngIf="privilege">
    
    <h1 class="my-4">Offboarding-Loan Sheets <span style="color:blue"><i class="fa fa-user-plus" aria-hidden="true" (click)="siteInformation()"></i></span><hr>
    <button class="" (click)="openErrorModal(errorTemplate)" id="errorModalbtn" style="display:none;"></button>  
    </h1>
        <div class="row" *ngIf="siteInfo">

                <!-- Blog Entries Column -->
                <div class="col-md-8">
        
        
                  <!-- Blog Post -->
                  <div class="card mb-4">
                    <img class="card-img-top" [src]="fullImagePath" alt="Card image cap">
                    <div class="card-body">
                      <h2 class="card-title">Some statements</h2>
                      <p class="card-text">"A loan policy must address key credit decision criteria and underwriting factors such as the purpose of the loan, required financial information, collateral, risk ratings (borrower and facility), pricing, and policy exceptions. It may include metrics that make a particular borrower, industry, or loan type acceptable; for example, the policy may note debt-to-income or specific debt service coverage (DSC) ratios, interest coverage ratios, loan-to-value requirements, or appropriate amortization periods."</p>
                      <button class="btn btn-info btn-sm" (click)="start()">Let's Get Started!</button>
                    </div>
                    <div class="card-footer text-muted">
                      Laureate International Universities
                    </div>
                  </div>
        
                </div>
        
                <!-- Sidebar Widgets Column -->
                <div class="col-md-4">
        

                  <br><br><br>
        
                  <!-- Categories Widget -->
                  <div class="card my-4">
                    <h5 class="card-header">Reminder</h5>
                    <div class="card-body">
                      <div class="">
                        <p>In this section you will not be able to create loan sheets, go create a sheet for that, you can only release the resources of loan sheets already created</p>
                      </div>
                    </div>
                  </div>
        
                  <!-- Side Widget -->
                  <div class="card my-4">
                    <h5 class="card-header">Loan Policy</h5>
                    <div class="card-body">
                            The policy should also address postorigination activities, such as ongoing monitoring and credit administration, including postorigination monitoring of loan covenants, obtaining financial information, and assessing the borrower's ongoing ability to service the debt and ultimately repay the loan.
                    </div>
                  </div>
        
                </div>
        
              </div>
              <!-- /.row -->
        
    
 <!--   <div>
        <h3>Offboarding-Loan Sheets <span style="color:blue"><i class="fa fa-user-plus" aria-hidden="true"></i></span></h3>
        <p>"A loan policy must address key credit decision criteria and underwriting factors such as the purpose of the loan, required financial information, collateral, risk ratings (borrower and facility), pricing, and policy exceptions. It may include metrics that make a particular borrower, industry, or loan type acceptable; for example, the policy may note debt-to-income or specific debt service coverage (DSC) ratios, interest coverage ratios, loan-to-value requirements, or appropriate amortization periods. The policy should also address postorigination activities, such as ongoing monitoring and credit administration, including postorigination monitoring of loan covenants, obtaining financial information, and assessing the borrower's ongoing ability to service the debt and ultimately repay the loan."</p>
         <br>
        <div class="form-group"> 
            <button class="btn btn-info btn-sm" (click)="start()">Let's Get Started!</button>
        </div>
    </div> -->
    <div class=" col-6" *ngIf="boolfirst">
        <h3>First-Step select a type <span><i class="fa fa-random" aria-hidden="true"></i></span></h3>
        <div class="form-group">
            <select class="form-control" [(ngModel)]="option">
                    <option value="2">OffBoarding</option>
                    <option value="3">Loan</option>
            </select>
        </div>
        <button class="btn btn-sm EdgeButton EdgeButton--secondaryii EdgeButton--medium submit js-submit" (click)="validate()">Continue</button>
    </div>

    <br>
  <!--  <button class="btn btn-sm btn-danger" (click)="test()">Test</button> -->


    <ul class="list-group" *ngFor="let item of selectemploye">
        <li class="list-group-item list-group-item-success ">{{item.FIRST_NAME}}  {{item.LAST_NAME}} - {{item.EMAIL}}</li>
      
      </ul>
      


    <div *ngIf="boolemployee">
        <h3>First-Step select the employee</h3>
         <!-- <ul class="list-group" *ngFor="let item of selectemploye">{{item.FIRST_NAME}} - {{item.LAST_NAME}} - {{item.EMAIL}} </ul> -->
 
 
 
        <app-employee-table (employeevent)="selectemploye=$event"></app-employee-table>
        <div class="d-flex justify-content-center">
                 <button class="btn btn-sm EdgeButton EdgeButton--secondaryiii EdgeButton--medium submit js-submit" (click)="backemployee()">Go Back</button><h4>-</h4>
                 <button class="btn btn-sm EdgeButton EdgeButton--secondaryiii EdgeButton--medium submit js-submit" (click)="continueemployee()">Continue</button>
        </div>    
   </div >
   <br>
   <div class="" *ngIf="boolproducts">
    <h3><b>Loan Signature Sheets</b></h3>
    <br>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
          <tr class="">
            <th scope="col">Sheet Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Employee ID</th>
            <th scope="col">Date</th>
            <th scope="col">select</th>
           <!-- <th scope="col">Status</th>
            <th scope="col">Last?</th> -->
            
          </tr>
        </thead>
        <tbody *ngFor="let product of sheets">
      
          <tr class="select">
            <th scope="row">{{product.id_signature}}</th>
            <td>{{product.first_name}}</td>
            <td>{{product.last_name}}</td>
            <td>{{product.email}}</td>
            <td>{{product.id_employee}}</td>
            <td>{{product.updated}}</td>
            <td><button class="btn btn-sm EdgeButton EdgeButton--secondaryii EdgeButton--medium submit js-submit" (click)="onSelect(product)" >select</button></td>
          </tr>
      
        </tbody>
      
      </table>
      <div class="d-flex justify-content-center">
          <button class="btn btn-link" *ngIf="showpreview" (click)="preview()">Preview</button>
          <button class="btn btn-link" (click)="next()" *ngIf="shownext">Next</button>
      </div>

      <div class="d-flex justify-content-start" *ngIf="meta">
          <p>Search Result Quantity: {{meta['count']}}, cursor {{meta['cursor']}} More?  {{meta['more']}}.</p>
      </div>
      <div >
        <ul class="list-group" *ngFor="let item of selectLoanSheet">
            <li class="list-group-item list-group-item-info ">{{item.id_signature}} - {{item.email}}</li>
          
          </ul>
      </div>
      <br>
      <div class="d-flex justify-content-center" *ngIf="meta">
        <button class="EdgeButton EdgeButton--secondary EdgeButton--medium submit js-submit " (click)="openLoanModal(Loantemplate)">Release Assets</button><br>
    </div>
    </div>

    <div *ngIf="booloffboarding">
    <h3>Current Signature Sheet Products</h3>

    <div class="">
          <table class="table table-hover table-bordered">
              <thead class="thead-dark">
                <tr class="">
                    <th scope="col">Sheet Id</th>
                  <th scope="col">CI Name</th>
                  <!-- <th scope="col">CI Type</th> -->
                  <th scope="col">Tag</th>
                  <th scope="col">Serial N°</th>
                  <th scope="col">Model</th>
                  <th scope="col">CIID</th>
                  
                </tr>
              </thead>
              <tbody *ngFor="let product of offBoardingProducts">
            
                <tr class="select">
                  <th scope="row">{{product.id_signature}}</th>
                  <td>{{product.product_name}}</td>
                 <!-- <td>{{product.CI_TYPE}}</td> -->
                  <td>{{product.id_product}}</td>
                  <td>{{product.serial_number}}</td>
                  <td>{{product.model}}</td>
                  <td>{{product.ciid}}</td>
                </tr>
            
              </tbody>
            
            </table>
      </div>
      <br>
      <div class="d-flex justify-content-center">
            <button class="EdgeButton EdgeButton--secondary EdgeButton--medium submit js-submit " (click)="openOffboardingModal(offboardingTemplate)">Make Offboarding</button><br>
      </div>

    </div>

</div>


<ng-template #template>
    <div class="modal-body text-center alert">
        <p>Are you sure of save this Signature Sheet??</p>
        <button type="button" class="btn btn-primary" (click)="insertSheet()" >Yes</button>
        <button type="button" class="btn btn-danger" (click)="abort()" >No</button>
        <div class="modal-body alert alert-warning" role="alert">
                The information will be save and automatically create a pdf file of the sheet, press 'YES', to continue or 'No', to go back.
        </div>
    </div>

   
</ng-template>


<ng-template #Loantemplate>
        <div class="modal-header text-center">
          <h4 class="modal-title text-center">The Following Assests will be modified </h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <b> Sheet Products: </b>
        </div>
        <div >
            <ul class="list-group" *ngFor="let item of modalProducts">
                <li class="list-group-item list-group-item-warning ">{{item.id_product}} - {{item.product_name}} - {{item.model}}</li>
                  
            </ul>
        </div><br>
        <p>The assets state will be change to in store in the asset explorer database, would you like to continue? <span><i class="fa fa-question-circle-o" aria-hidden="true"></i></span></p>
        
        <div class="text-center">
            <button type="button" class="btn btn-primary" (click)="confirm()" >YES</button>
            <button type="button" class="btn btn-danger" (click)="decline()" >No</button>
        </div>
        <hr>

</ng-template>

<ng-template #offboardingTemplate>
        <div class="modal-body text-center alert">
            <p>Are you sure of performing this offboarding? <span><i class="fa fa-question-circle-o" aria-hidden="true"></i></span></p>
            <button type="button" class="btn btn-primary" (click)="makeOffboarding()" >Yes</button>
            <button type="button" class="btn btn-danger" (click)="decline()" >No</button>
            <div class="modal-body alert alert-warning" role="alert">
                    The relationships will be deleted and automatically create a pdf file of the offboarding sheet, press 'YES', to continue or 'No', to go back.
            </div>
        </div>
    
       
    </ng-template>


    <ng-template #errorTemplate>
        <div class="modal-body text-center alert" >
          <p id="errorMessage">!</p>
          <button class="btn btn-info" (click)="modalRef.hide()">Ok</button><br>
      </div>
      
      </ng-template >