<body>
<br>
    <!-- <div class="container">
      <h1>Welcome To Laureate IT System</h1> <br><br>
      <h5>Welcome to the inventory control system, this application is born as an extension of the asset explorer system, as a personalized complement for the management of signature sheets, real-time information of the main assets of the site as well as immediate report.</h5>

    </div> -->

 <!--   <button class="btn btn-danger" (click)="test2()">Test</button> -->
 <div class="container">

    <!-- Jumbotron Header -->
    <header class="">
      <br>
      <h1 class="">Welcome To Laureate IT System</h1>
      <!-- <img style="height:500px; width:1200px" class="img-fluid" alt="Responsive image" [src]="mainImage"> -->
    </header>
    <br>

    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-lg-2 col-md-6 mb-4">
            <div class="card " style="height:350px;">
                <img class="card-img-top" [src]="fullImagePath" alt="Card image cap" style="height : 120px;">
              <div class="card-body">
                <p class="card-title">Attending Report Generation</p>
              </div>
              <div class="">
                <a href="http://reportslno.hnsc.net" target="_blank" class="btn btn-primary">GO!</a>
                <p> </p>
              </div>
            </div>
          </div>

      <div class="col-lg-2 col-md-6 mb-4">
        <div class="card " style="height:350px;">
          <!-- icono -->
          
          <img class="card-img-top" [src]="sharepointImage" alt="Card image cap" style="height: 120px;">
          <div class="card-body">
            <p class="card-title">HelpdeskIT Sharepoint Site.</p>
            <!-- <p class="card-text"></p>-->
          </div>
          <div class="">
            <a href="http://laur.cc/helpdeskit" target="_blank" class="btn btn-primary">GO!</a>
            <p> </p>
          </div>
        </div>
      </div>


      <div class="col-lg-2 col-md-6 mb-4">
          <div class="card " style="height:350px;">
              <img class="card-img-top" [src]="footprintsImage" alt="Card image cap" style="height : 120px;">
            <div class="card-body">
              <p class="card-title">Frontline Ticket System</p>
             <!--> <p class="card-text"></p> -->
             <br>
            </div>
            <div class="">
              <a href="https://frontline.nfpondemand.com/" class="btn btn-primary" target="_blank">GO!</a>
              <p> </p>
            </div>
          </div>
        </div>


        <div class="col-lg-2 col-md-6 mb-4">
            <div class="card " style="height:350px;">
                <img class="card-img-top" [src]="kaseyaImage" alt="Card image cap" style="height : 120px;">
              <div class="card-body">
                <p class="card-title">Kaseya Web Console</p>
                <br>
                
              </div>
              <div class="">
                <a href="http://kaseya2.laureate.net" target="_blank" class="btn btn-primary">GO!</a>
                <p> </p>
              </div>
            </div>
          </div>


            <div class="col-lg-2 col-md-6 mb-4">
                <div class="card " style="height:350px;">
                    <img class="card-img-top" [src]="fullImagePath" alt="Card image cap" style="height : 120px;">
                  <div class="card-body">
                    <p class="card-title">Attending Web Register</p>
                    <br>
                  </div>
                  <div class="">
                    <a href="http://laur.cc/lnoattendance" target="_blank" class="btn btn-primary">GO!</a>
                    <p> </p>
                  </div>
                </div>
              </div>


              <div class="col-lg-2 col-md-6 mb-4">
                  <div class="card " style="height:350px;">
                      <img class="card-img-top" [src]="fullImagePath" alt="Card image cap" style="height : 120px;">
                    <div class="card-body">
                      <p class="card-title">VPN Installer Service</p>
                      <br>
                    </div>
                    <div class="">
                      <a href="https://balt.remote.laureate.net" target="_blank" class="btn btn-primary">GO!</a>
                      <p> </p>
                    </div>
                  </div>
                </div>




  <!--            <div class="col-lg-2 col-md-6 mb-4">
                  <div class="card">
                    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                    <div class="card-body">
                      <p class="card-title">Card title</p>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                    <div class="">
                      <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                  </div>
                </div> -->

    </div>


    <!-- segundo lote -->
    <div class="row text-center" >

        <div class="col-lg-2 col-md-6 mb-4">
            <div class="card " style="height:350px;">
                <img class="card-img-top" [src]="sharepointImage" alt="Card image cap" style="height : 120px;">
              <div class="card-body">
                <p class="card-title">Sharepoint architecture</p>
                <br>
              </div>
              <div class="">
                <a href="https://laureatena.sharepoint.com/sites/itlno/it-arch/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2Fsites%2Fitlno%2Fit-arch%2FShared%20Documents%2FIT%20Architecture%2FZoom&FolderCTID=0x0120002A4011C06BDFAB41A7ECE5593132BC5A" target="_blank" class="btn btn-primary">GO!</a>
                <p> </p>
              </div>
            </div>
          </div>

      <div class="col-lg-2 col-md-6 mb-4">
        <div class="card " style="height:350px;">
          <!-- icono -->
          
          <img class="card-img-top" [src]="assetImage" alt="Card image cap" style="height: 120px;">
          <div class="card-body">
            <p class="card-title">Asset Explorer.</p>
            <br>
            <!-- <p class="card-text"></p>-->
          </div>
          <div class="">
            <a href="http://172.20.33.40:8080" target="_blank" class="btn btn-primary">GO!</a>
            <p> </p>
          </div>
        </div>
      </div>


      <div class="col-lg-2 col-md-6 mb-4">
          <div class="card " style="height:350px;">
              <img class="card-img-top" [src]="elasticx" alt="Card image cap" style="height : 120px;">
            <div class="card-body">
              <p> </p>
              <p class="card-title">PBX console</p>
              <br>
             <!--> <p class="card-text"></p> -->
            </div>
            <div class="">
              <a href="http://172.20.33.33" class="btn btn-primary" target="_blank">GO!</a>
              <p> </p>
            </div>
          </div>
        </div>


        <div class="col-lg-2 col-md-6 mb-4">
            <div class="card " style="height:350px;">
                <img class="card-img-top" [src]="ricohImage" alt="Card image cap" style="height : 120px;">
              <div class="card-body">
                <p class="card-title">Printer web console</p>
                <br>
              </div>
              <div class="">
                <a href=" http://172.20.35.101" target="_blank" class="btn btn-primary">GO!</a>
                <p> </p>
              </div>
            </div>
          </div>


            <div class="col-lg-2 col-md-6 mb-4">
                <div class="card " style="height:350px;">
                    <img class="card-img-top" [src]="zoomImage" alt="Card image cap" style="height : 130px;">
                  <div class="card-body">
                    <p> </p>
                    <p class="card-title">Zoom console </p>
                    <br>
                  </div>
                  <div class="">
                    <a href="https://zoom.us/account/user" target="_blank" class="btn btn-primary">GO!</a>
                    <p> </p>
                  </div>
                </div>
              </div>


              <div class="col-lg-2 col-md-6 mb-4">
                  <div class="card " style="height:350px;">
                      <img class="card-img-top" [src]="fullImagePath" alt="Card image cap" style="height : 120px;">
                    <div class="card-body">
                      <p class="card-title">LOE/Email Password Reset</p>
                    </div>
                    <div class="">
                      <a href="http://laur.cc/passwordreset " target="_blank" class="btn btn-primary">GO!</a>
                      <p> </p>
                    </div>
                  </div>
                </div>




  <!--            <div class="col-lg-2 col-md-6 mb-4">
                  <div class="card">
                    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                    <div class="card-body">
                      <p class="card-title">Card title</p>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                    <div class="">
                      <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                  </div>
                </div> -->

    </div>

    <!-- 3 -->

    <div class="row text-center" >

        <div class="col-lg-2 col-md-6 mb-4">
          </div>

      <div class="col-lg-2 col-md-6 mb-4">
      </div>


      <div class="col-lg-2 col-md-6 mb-4">
          <div class="card " style="height:350px;">
              <img class="card-img-top" [src]="officeImage" alt="Card image cap" style="height : 120px;">
            <div class="card-body">
              <p> </p>
              <p class="card-title">Office Web Home</p>
             <!--> <p class="card-text"></p> -->
            </div>
            <div class="">
              <a href="http://portal.office.com" class="btn btn-primary" target="_blank">GO!</a>
              <p> </p>
            </div>
          </div>
        </div>


        <div class="col-lg-2 col-md-6 mb-4">
            <div class="card" style="height:350px;">
                <img class="card-img-top" [src]="bitly" alt="Card image cap" style="height : 120px;">
              <div class="card-body">
                <p> </p>
                <p class="card-title">ShortURL Admin</p>
              </div>
              <div class="">
                <a href="http://laur.cc/admin" target="_blank" class="btn btn-primary">GO!</a>
                <p> </p>
              </div>
            </div>
          </div>

          







    </div>
   <!--  <button class="btn btn-primary" (click)="viewMore()">View More</button> -->
    <!-- /.row -->

  </div>
</body>

