.footer{
    background-color: #1a1a1a;
    position:fixed;
    left:0px;
    bottom:0px;
    height:15;
    width:100%;
    padding: 5px;
}

.element a{
    color: #f8f4f4
}

.element {
    color: #f8f4f4
}