<br><br><br><br><br><br><br><br><br>
<div class="footer" style="heigth: 5px">
  <footer class="mainfooter" role="contentinfo">
    <!-- <div class="footer-top p-y-2">
      <div class="container-fluid">
        
      </div>
    </div>
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
         
          <div class="footer-pad">
            <h4 class="element">Direccion</h4>
            <address>
        <ul class="list-unstyled">
          <li class="element">
           Guanacaste<br>
            Calle 6152<br>

        </ul>
      </address>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          
          <div class="footer-pad">
            <h4 class="element" >Servicios</h4>
            <ul class="list-unstyled">
              <li class="element"><a routerLink="#"></a></li>
              <li class="element"><a routerLink="#">centro de pago</a></li>
              <li class="element"><a routerLink="#">Directorio de contacto</a></li>
   
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          
          <div class="footer-pad">
            <h4 class="element">Informacion del Sitio</h4>
            <ul class="list-unstyled">
              <li class="element"><a routerLink="#">Tutorial del Sitio</a></li>
              <li class="element"><a routerLink="#">Accesibilidad</a></li>

            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          
          <div class="footer-pad">
            <h4 class="element" >Departamentos </h4>
            <ul class="list-unstyled">
              <li class="element"><a routerLink="#">Reacreaciones</a></li>
              <li class="element"><a routerLink="#">Trabajadores publicos</a></li>

              <li class="element">
                <a routerLink="#"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div> -->
    <div class="footer-bottom" style="height:22px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <!--Footer Bottom-->
            <p class="text-xs-center element" style="color:black">&copy; Copyright 2018 Laureate Education</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
    
</div> 