<br><br><br><br><br><br><br><br><br><br><br>
<div class="footer">
  <footer class="mainfooter" role="contentinfo">
    <div class="footer-top p-y-2">
      <div class="container-fluid">
        
      </div>
    </div>
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4 class="element">Direccion</h4>
            <address>
        <ul class="list-unstyled">
          <li class="element">
                      Guanacaste<br>
            Calle 6152<br>
            4568<br>
            735<br>
          </li>
          <li class="element">
            Phone: 0
          </li>
        </ul>
      </address>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4 class="element" >Servicios</h4>
            <ul class="list-unstyled">
              <li class="element"><a routerLink="#"></a></li>
              <li class="element"><a routerLink="#">centro de pago</a></li>
              <li class="element"><a routerLink="#">Directorio de contacto</a></li>
              <li class="element"><a routerLink="#">Solicitudes</a></li>
              <li class="element"><a routerLink="#">Noticias</a></li>
              <li class="element"><a routerLink="#">FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4 class="element">Informacion del Sitio</h4>
            <ul class="list-unstyled">
              <li class="element"><a routerLink="#">Tutorial del Sitio</a></li>
              <li class="element"><a routerLink="#">Accesibilidad</a></li>
              <li class="element"><a routerLink="#">Informacion</a></li>
              <li class="element"><a routerLink="#">Politicas de privacidad</a></li>
              <li class="element"><a routerLink="#">FAQs</a></li>
              <li class="element"><a routerLink="#">Contactanos</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4 class="element" >Departamentos </h4>
            <ul class="list-unstyled">
              <li class="element"><a routerLink="#">Reacreaciones</a></li>
              <li class="element"><a routerLink="#">Trabajadores publicos</a></li>
              <li class="element"><a routerLink="#">Seguridad</a></li>
              <li class="element"><a routerLink="#">Soporte</a></li>
              <li class="element"><a routerLink="#">LLamanos</a></li>
              <li class="element">
                <a routerLink="#"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!--Footer Bottom-->
            <p class="text-xs-center element">&copy; Copyright 2017 - Tegucigalpa City.  All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
    
</div> 